.background{
    -fx-background-image: url(/GUI/ImageAssets/backgroundPlaylistView.png);
}
.button{
    -fx-background-color: #00d0d9;
    -fx-text-fill: black;
}
.label {
    -fx-text-fill: black;
}

